<div class="d-flex flex-column justify-content-center align-items-center big-rectangle">
  <h1 class="text-center">Welcome to Marina's page!</h1>
  <p class="text-center">Still under construction...</p>
</div>
